body
{
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
    color: #787878;
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'Nunito Sans', sans-serif;*/
}
img
{
    max-width: 100%;
    height: auto;
}
section
{
    padding: 100px 0;
}
h2
{
    color: #1d1d1d;
    font-size: 32px;
    padding-bottom: 15px;
}
h3
{
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    color: #191919;
}
h4
{
    font-size: 14px;
    line-height: 1.8;
}
a
{
    color: #787878;
}
a:hover
{
    color: #10c9c3;
}
/*==============================Header==============================*/
.main-header
{
    background: url("/img/bg.jpg") center no-repeat;
    background-size: cover;
    /*background-color: #e9e9e9;*/
    height: 100vh;
    min-height: 700px;
    position: relative;
}

.main-header-text .description
{
    font-size: 16px;
    color: #ffffff;
}
.main-header .navbar-toggler
{
    color: #ffffff;
}
.main-header ul li a
{
    /*color: #ffffff;*/
    font-weight: 600;
    text-transform: uppercase;
}
.main-header .navbar-brand
{
    padding-left: 50px;
    font-size: 41px;
}
.main-header ul li a
{
    font-size: 12px;
}
.main-header ul li a::after
{
    content: '';
    display: block;
    width: 100%;
    background: #10c9c3;
    height: 1px;
    transform: scale(0);
    transition: all .3s;
}
.main-header ul li a:hover::after,
.main-header ul li a:active::after
{
    transform: scale(1);
}
.main-header ul li a:active
{
    color: #10c9c3;
    transform: scale(1);
}

.main-header-text
{
    position: absolute;
    top: 25%;
    right: 5%;
    max-width: 500px;
    padding: 20px;
    /*padding-right: 70px;*/
    background-color: rgba(0,0,0,.3);
}
.main-header-text h2,
.main-header-text h4
{
    color: #ffffff;
}
.btn
{
    background: #10c9c3;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}
.main-header-buttons .btn
{
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
    margin-right: 20px;
    opacity: .8;
    box-shadow: 0 4px 16px rgba(0,0,0,.35);
    transition: all .5s;
}
.main-header-buttons .btn:hover
{
    color: #ffffff;
    opacity: 1;
}
#navbarSupportedContent
{
    padding-right: 50px;
}
.navbar-expand-lg .navbar-nav .nav-link
{
    padding-left: 1rem;
    padding-right: 1rem;
}
/*==============================section-about==============================*/
.section-about
{
    /*background: url("/img/about_bg.jpg") center no-repeat;*/
    /*background-size: cover;*/
    padding-bottom: 0;
}

.section-about .main-about-text
{
    /*max-width: 550px;*/
    text-align: center;
    padding-bottom: 30px;
}
.main-about-text .description
{
    font-size: 16px;
}

/*==============================section-skill==============================*/
.section-skill .skills
{
    background-color: #f8f9f9;
    padding: 120px 80px;
}
.skills h3
{
    padding-bottom: 20px;
}
.skills .title-skill
{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.progress-height
{
    height: 2px;
}
.progress-bottom
{
    margin-bottom: 1rem;
}
.progress-bar
{
    background-color: #10c9c3;
}

.section-skill .other-skills
{
    background-color: #e9e9e9;
    padding: 120px 80px;
}
.section-skill
{
    padding-bottom: 0;
}
/*==============================section-hours==============================*/
.section-hours
{
    background-color: #10c9c3;
    color: #ffffff;
}
.section-hours p
{
    font-size: 12px;
    text-transform: uppercase;
}
/*==============================section-works==============================*/
.section-works
{
    padding-top: 0;
}
.section-works img
{
    background-size: cover;
}
.section-works .gallery-item
{
    padding: 0;
}
.gallery a img
{
    transition: all .5s;
}
.gallery a:hover img
{
    box-shadow: 0 14px 30px -15px rgba(0,0,0,.75);
}
/*.gallery-item:nth-child(1n)
{
    background-color: #f8f9f9;
}
.gallery-item:nth-child(2n)
{
    background-color: #e9e9e9;
}*/








/*Экстрабольшие девайсы (большие десктопы, >= 1200px)*/
@media only screen and (max-width: 1200px) {

}
/*Большие девайсы (десктопы, >= 992px)*/
@media only screen and (max-width: 992px) {
    section
    {
        padding: 50px 0;
    }
    .section-reviews h3,
    .section-reviews h4
    {
        font-size: 25px;
    }
    .section-reviews .blockquote
    {
        font-size: 17px;
        padding-left: 20px;
        margin-top: 40px;
    }
    .section-reviews .blockquote::before
    {
        font-size: 100px;
        top: -40px;
    }
}
@media only screen and (max-width: 991px) {
    .navbar-nav
    {
        /*background: linear-gradient(45deg, #207cca -1%,#ed1b33 0%,#442e82 100%);*/
        background: #e9e9e9;
        position: relative;
        z-index: 1;
        padding: 0 15px;
    }
}

/*Средние девайсы («таблетки», >= 768px)*/
@media only screen and (max-width: 768px) {
    .main-header-text
    {
        left: 0;
        margin: 0 20px;
        max-width: 100%;
    }
    h4
    {
        font-size: 20px;
    }
    .section-skill .skills,
    .section-skill .other-skills
    {
        padding: 60px 40px;
    }
}
@media only screen and (max-width: 600px) {
    .main-header-text
    {
        top: 90px;
    }
    .main-header-buttons .btn
    {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
    .main-header-buttons .btn:last-child
    {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .btn-shadow
    {
        box-shadow: 0 5px 0 #ff5990;
        padding: 10px 5px;
    }
}

/*Малые девайсы («ландшафтные телефоны», >= 576px)*/
@media only screen and (max-width: 576px) {
    h2
    {
        font-size: 30px;
    }

}

@media only screen and (max-width: 480px) {
    h2
    {
        font-size: 30px;
    }
    .section-tabs .nav-pills .nav-link
    {
        padding: 8px 16px;
    }
    .section-tabs .nav-pills .nav-item
    {
        padding: 8px 16px;
        width: 100%;
    }


}
@media only screen and (max-width: 380px) {
    h2
    {
        font-size: 24px;
    }
    h4
    {
        font-size: 18px;
    }
    .main-header .navbar-brand
    {
        font-size: 30px;
    }

}






